.about-container {
  padding-top: 10vh;
  width: 100%;
  min-height: 80vh;
  height: auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0.97),
      rgba(255, 255, 255, 0.97)
    ),
    url("../../assets/MonitoringBoard (1)-min.jpeg");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-logo {
  width: 60%;
}

.about-blurb {
  width: 75%;
  height: auto;
  line-height: 1.5;
  font-weight: bold;
}

.about-blurb-link {
  text-decoration: none;
  color: #faa916;
}

.about-us-triplet {
  width: 80%;
  margin: 0 5%;
}

.about-blurb-link:hover {
  opacity: 0.5;
}

.additional-info {
  margin: 10vh 0;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
}
.triplet {
  font-size: 5em;
  color: #94021a;
}

.info {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../../assets/MonitoringBoard (1)-min.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-bottom-link {
  text-decoration: none;
  color: #faa916;
}

@media (max-width: 450px){
  .additional-info {
    flex-direction: column;
    justify-content: space-between;
  }
}