* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, PingFang SC, Source Han Sans CN, Hiragino Sans GB, Microsoft YaHei,
    WenQuanYi Micro Hei, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide {
  display: none;
}

.store-container {
  width: 80%;
  margin: 0 10%;
  height: 80vh;
  display: flex;
  flex-direction: column;

  text-align: left;
  max-width: 864px;
}

.store-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  background-color: #6d666e;
  color: white;
}

.store-header-left {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 35%;
  align-items: center;
  justify-content: space-between;
  margin-left: 3px;
  font-size: 0.8em;
  padding-top: 2px;
}

.store-header-right {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3px;
}

.store-logo {
  height: 100%;
  width: auto;
}

.store-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: background-color 0.5s linear;
  /* background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(191, 191, 191)),
    to(white)
  );
  background-image: -webkit-linear-gradient(top, rgb(191, 191, 191),  (white));
  background-image: -moz-linear-gradient(top, rgb(191, 191, 191),  (white));
  background-image: linear-gradient(to bottom, rgb(191, 191, 191),  (white)); */
  background-color: rgb(255, 255, 255);
}

.store-item:hover {
  background-image: none;
  background-color: rgb(191, 191, 191);
  cursor: pointer;
}

.store-item-left {
  margin-left: 6px;
}

.track-title {
  font-size: 1em;
  font-weight: bold;
}

.track-genre {
  font-size: 0.7em;
  color: grey;
}

.store-item-right {
  margin-right: 3px;
}

.beats-container {
  height: 80%;
  overflow-y: scroll;
  width: 100%;
  background-color: white;
}

.player-controls {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: solid;
  border-width: 1px;
  border-color: #96031a;
  background-color: rgb(255, 255, 255);
}

.control-icon {
  font-size: 2em;
}

.control-icon:hover {
  opacity: 0.7;
}

.cotrols-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}

.volume-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.volume-icon i {
  color: #6d676e;
}

.volume-wrapper {
  width: 50px;
  padding-left: 2px;
  opacity: 0.5;
  transition: opacity 0.5s linear;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.progress-container {
  height: 2px;
  /* margin-top: calc(0.8em - 1px); */
  background-color: rgb(191, 191, 191);
}

.progress {
  height: 2px;
  background-color: #96031a;
}

.volume-wrapper:hover {
  opacity: 1;
}

.progress-container {
  width: 100%;
  height: 3px;
  background-color: rgb(191, 191, 191);
  cursor: pointer;
}
.progress {
  height: 100%;
}

.track-progress {
  width: 60%;
  margin-right: 5px;
}

.left-time {
  text-align: right;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.currently-playing {
  height: 15px;
  width: 50%;
  text-align: left;
}
