.contact-container {
  padding-top: 10vh;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://s3.us-east-2.amazonaws.com/hassle-free-beats-untagged-audio/MonitoringBoard.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-card {
  width: auto;
  padding: 2%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.contact-form {
  width: 80%;
  margin-left: 10%;
}
