.checkout-container {
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.login-option {
  width: 50%;
  padding: 10% 10%;
}

.checkout-cart {
  width: 50%;
  padding: 10% 10%;
}
