.splash {
  width: 100%;
  height: 100vh;
  background-image: url("https://s3.us-east-2.amazonaws.com/hassle-free-beats-untagged-audio/background+gradient.jpg");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  /* height: auto; */
  width: 100%;
}

.splash-subtext {
  width: 60%;
}

.music-store {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 1025px) {
  .logo {
    height: 65%;
  }
}

@media (max-width: 376px) {
  .splash-logo {
    width: 100%;
  }
  .logo {
    height: 50%;
  }
}
