.splash {
  width: 100%;
  height: 90vh;
  background-image: url("../../assets/background gradient-min.jpg");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  /* height: auto; */
  width: 100%;
}

.call-to-action {
  background-image: url("../../assets/background gradient-min.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.call-to-action h1 {
  margin: 0;
  font-size: 3em;
}
.call-to-action h3 {
  margin-top: 20%;
  font-size: 2.5em;
  padding: 0 10%;
}

.call-to-action a {
  font-size: 1.2em;
  text-decoration: underline;
}

.splash-subtext {
  width: 60%;
}

.beat-store-headers {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

.music-store {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.vocal-tag-disclaimer {
  color: white;
}

.licensing-card-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url("../../assets/MonitoringBoard (1)-min.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

.license-header {
  color: #96031a;
}

.license-divide {
  width: 50%;
}

.testimonial-header {
  background-image: url("../../assets/background gradient-min.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  font-size: 3em;

  margin: 0;
}

.bottom-portion {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}
.info {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../../assets/MonitoringBoard (1)-min.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-bottom-link {
  text-decoration: none;
  color: #faa916;
}

.home-bottom-link:hover {
  opacity: 0.5;
}

@media (max-width: 1025px) {
  .logo {
    height: 65%;
  }
}

@media (max-width: 376px) {
  .splash-logo {
    width: 100%;
  }
  .logo {
    height: 50%;
  }


  .call-to-action {
  background-image: url("../../assets/background gradient-min.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.call-to-action h1 {
  margin: 0;
  font-size: 1.85em;
}
.call-to-action h3 {
  margin: 60% 0;
  font-size: 1.7em;
  padding: 0 10%;

}

.call-to-action a {
  font-size: 1em;
  text-decoration: underline;
}

.mobile {
  display: none;
}


.promotion{
  font-size: 1.5em;
}
}
